<header class="text-dark text-center py-2 ">
    <h1>About Us</h1>
  </header>

  <main class="container my-5">
    <section class="mb-4">
      <h2>Our Story</h2>
      <p>Welcome to The Pair Matrimony, where we help people find their perfect match! Our journey began with a simple mission: to bring together individuals who are looking for love and companionship. We are dedicated to providing a safe and efficient platform for matchmaking.</p>
    </section>

    <section class="mb-4">
      <h2>Our Team</h2>
      <p>Our team consists of dedicated professionals who are passionate about helping people find happiness. We have experienced matchmakers, relationship experts, and a strong support team to assist you in your journey.</p>
    </section>

    <section>
      <h2>Why Choose Us?</h2>
      <p>At The Pair Matrimony, we prioritize your privacy and security. We use advanced algorithms to connect you with potential partners based on your preferences. Whether you're looking for a life partner, a friend, or a companion, we're here to help you find the right match.</p>
    </section>
  </main>

  <footer class="text-center text-light py-3 bg-dark fixed-bottom">
    &copy; 2023 The Pair Matrimony
  </footer>

