<header class="text-dark text-center py-2 ">
  <h1>Contact Us</h1>
</header>

<main class="container my-5">
  <section class="mb-4 text-center">
      <p class=" text-center">If you have any questions or inquiries, feel free to get in touch with us.</p>
      <address>
          <strong>The Pair Matrimony</strong><br>
          123 Destination Center, near Nanded-City<br>
          Pune, India<br>
          <br>
          Phone: +123-456-7890<br>
          Email: info@thepairmatrimony.com
      </address>
  </section>
</main>
<footer class="text-center text-light py-3 bg-dark fixed-bottom">
  &copy; 2023 The Pair Matrimony
</footer>