<h2 class="text-center mt-3 text-info">Your Groom</h2>
<div class="row mx-auto mt-3">
    <div class="col-sm"><div class="card" style="width: 20rem;">
        <img class="card-img-top" src="https://img.freepik.com/free-photo/young-handsome-indian-man-wearing-sunglasses-while-thinking-against-street-outdoors_231208-2791.jpg?size=626&ext=jpg&ga=GA1.1.844045488.1697427086&semt=ais" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Navin Kumar</h5>
          <p class="card-text">Age: 26</p>
            <p class="card-text">Occupation: Software Engineer</p>
            <p class="card-text">Education: Bachelor's in Computer Science</p>
            <p class="card-text">Location: Chennai, India</p>
          <a href="#" class="btn btn-primary">More Details</a>
        </div>
      </div></div>
    <div class="col-sm"><div class="card" style="width: 20rem;">
        <img class="card-img-top" src="https://img.freepik.com/premium-photo/portrait-indian-male-businessman-sitting-table-desk-office-grey-background_466689-45773.jpg?size=626&ext=jpg&ga=GA1.1.844045488.1697427086&semt=ais" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Rajendra Mulik</h5>
          <p class="card-text">Age: 27</p>
            <p class="card-text">Occupation: Graphics Designer</p>
            <p class="card-text">Education: Bachelor's in Science</p>
            <p class="card-text">Location: Kolhapur, India</p>
          <a href="#" class="btn btn-primary">More Details</a>
        </div>
      </div></div>
    <div class="col-sm"><div class="card" style="width: 20rem;">
        <img class="card-img-top" src="https://img.freepik.com/free-photo/happy-young-handsome-man-wearing-sunglasses_171337-4411.jpg?size=626&ext=jpg&ga=GA1.1.844045488.1697427086&semt=ais" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Endraneel Sharma</h5>
          <p class="card-text">Age: 28</p>
          <p class="card-text">Occupation: Teacher</p>
          <p class="card-text">Education: Bachelor's in Arts</p>
          <p class="card-text">Location: Pune, India</p>
          <a href="#" class="btn btn-primary">More Details</a>
        </div>
      </div></div>
  </div>
  <div class="row mx-auto mt-3">
  <div class="col-sm">
    <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="https://img.freepik.com/free-photo/man-listening-music-by-wireless-earphones_53876-98050.jpg?size=626&ext=jpg&ga=GA1.1.844045488.1697427086&semt=ais" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Imran Mujawar</h5>
            <p class="card-text">Age: 29</p>
            <p class="card-text">Occupation: Doctor</p>
            <p class="card-text">Education: MBBS MD ENT</p>
            <p class="card-text">Location: Sangli, India</p>
            <a href="#" class="btn btn-primary">More Details</a>
        </div>
    </div>
</div>


<div class="col-sm">
    <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="https://img.freepik.com/free-photo/expressive-young-male-posing-studio_176474-98699.jpg?size=626&ext=jpg&ga=GA1.1.844045488.1697427086&semt=ais" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Kapil Dev</h5>
            <p class="card-text">Age: 28</p>
            <p class="card-text">Occupation:  Civil Engineer</p>
            <p class="card-text">Education: MTech Civil</p>
            <p class="card-text">Location: Radhanagari, India</p>
            <a href="#" class="btn btn-primary">More Details</a>
        </div>
    </div>
</div>


<div class="col-sm">
    <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="https://img.freepik.com/premium-photo/too-good-be-real-handsome-young-man-looking-away-keeping-arms-crossed-while-standing-against-grey-background_425904-11611.jpg?size=626&ext=jpg&ga=GA1.1.844045488.1697427086&semt=ais" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Henery parker</h5>
            <p class="card-text">Age: 28</p>
            <p class="card-text">Occupation: Software Engineer</p>
            <p class="card-text">Education: Bachelor's in Computer Science</p>
            <p class="card-text">Location: Pune, India</p>
            <a href="#" class="btn btn-primary">More Details</a>
        </div>
    </div>
</div>
</div>
<footer class="text-center text-light py-3 bg-dark">
    &copy; 2023 The Pair Matrimony
  </footer>
